*, *:before, *:after {
  -moz-box-sizing    : border-box; /* Firefox */
  -webkit-box-sizing : border-box; /* Safari */
  box-sizing         : border-box;
  *behavior          : url(./js/boxsizing.htc); /* ie7 et ie8 */
}

/* Couleurs de la charte */ 
:root {
--blue: #0065FC;
--light-blue: #DEEBFF;
--grey: #F2F2F2;
--big-font: 30px;
--margin-page: 0 5%;
}

.blue {
color: #0065FC;
}

.light-blue {
color: #DEEBFF
}

.grey {
color: #F2F2F2; 
}
/*xxxx Couleurs de la charte xxxx*/

/* structure globale */
body {
  font-family: "Raleway", Arial, Helvetica, Sans-Serif;
  font-size: 12px;
}

#flex-container {
  /* Specifies that the contents will be laid out according to Flexbox rules. */
  width: 1440px;
  height: 1884;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background: #EDEDED;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}
/* xxxx structure globale xxxx */

/* oooo header oooo */
header {
  margin: 0 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

header img {
  width: 5%;
}

header ul {
  display: flex;
}

header a {
  width: 100px;
  line-height: 66px;  
  text-align: center;
}

header a:hover { 
  color: var(--blue); 
  border-top: 1px solid var(--blue);
}
/* xxxx header xxxx */

/* oooo main oooo */

/* title */
#title {
  margin: 0 1%;  
}

h1 {
  margin: 0;
  font-size: 14px;  
}

#title p {
  margin: 0;
}

/* formulaire */
form {
  width: 260px;
  display: flex;
  justify-content: flex-start;
}

input.p-holder {
  border: 1px solid var(--grey);
  border-right: 1px solid var(--blue);
  margin: 0;
  padding: 0;
}
input.search {
  margin: 0;
  padding: 0;
}
/* xxxx main xxxx */

/* oooo footer oooo */
/* xxxx footer xxxx */

